Smart Resume Filter.json
{
  "name": "Smart Resume Filter",
  "nodes": [
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json[\"CV\"].split('id=')[1] }} ",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -560,
        256
      ],
      "id": "14dc449c-ff35-440a-b29b-017b85623df3",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "nJlrQ0bT4GnZrcg4",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -320,
        144
      ],
      "id": "3bc394f5-2eff-4acc-960e-98f020d69133",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Role: You are an Elite, Bias-Free Technical Recruiter.\n\nInstructions:\n\n  Analyze Requirements: Read the Job title {{ $json['Job Title'] }} and Description provided in the Job Requirement {{ $json['Key Requirments '] }} field.\n\nAnalyze CV: Read the Candidate CV {{ $('Extract from File').item.json.text }}. DO NOT use the candidate's name or gender in your reasoning to ensure a bias-free evaluation.\n\nCompare & Score: Assign a 'Fit Score' from 0-100.\n\n80-100: Expert match; has almost all \"Must-Have\" skills.\n\n50-79: Potential match; has core skills but lacks specific experience.\n\nBelow 50: Poor match.\n\nReasoning: Provide a one-sentence \"Match Rationale\" explaining the score.\n\nIdentify Gaps: List any critical skills from the JD that are missing in the CV.\n\nOutput Format: You MUST return a valid JSON object with these keys: anonymized_id, score, rationale, skills_found, and missing_gaps.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        144,
        64
      ],
      "id": "bde97dd6-23bf-4ac5-9854-f9ed747d975c",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        96,
        320
      ],
      "id": "240d9975-1a77-4ae2-990b-80cae469617d",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "ZY7YEFvsxZ4wWL8m",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return JSON.parse($input.first().json.output);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        544,
        48
      ],
      "id": "d1bc5975-10fa-4254-a34e-c1e6ccf1abee",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1u69YDgSunLNDJ6N6epDtftXN1FvZ3JJ38Fn5pIsUNS0",
          "mode": "list",
          "cachedResultName": "Hackaton CV",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1u69YDgSunLNDJ6N6epDtftXN1FvZ3JJ38Fn5pIsUNS0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 161597261,
          "mode": "list",
          "cachedResultName": "requirment",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1u69YDgSunLNDJ6N6epDtftXN1FvZ3JJ38Fn5pIsUNS0/edit#gid=161597261"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -80,
        64
      ],
      "id": "9a3d631d-dff6-4fa8-8d23-fe49977de50d",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "AjGvuMxyD27wvE9S",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1u69YDgSunLNDJ6N6epDtftXN1FvZ3JJ38Fn5pIsUNS0",
          "mode": "list",
          "cachedResultName": "Hackaton CV",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1u69YDgSunLNDJ6N6epDtftXN1FvZ3JJ38Fn5pIsUNS0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "canidate info from google form",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1u69YDgSunLNDJ6N6epDtftXN1FvZ3JJ38Fn5pIsUNS0/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Anonymized ID": "={{ $('Code in JavaScript').item.json.anonymized_id }}",
            "Technical Store": "={{ $('Code in JavaScript').item.json.score }}",
            "Key Skills ": "={{ $('Code in JavaScript').item.json.skills_found }}",
            "missing gaps": "={{ $('Code in JavaScript').item.json.missing_gaps }}",
            "CV Link": "={{ $json.CV }}",
            "Ai Feedback": "={{ $('Code in JavaScript').item.json.rationale }}",
            "Date": "={{ $json.Timestamp }}",
            "Candidate Name": "={{ $json.Name }}",
            "Email": "={{ $json['Email '] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Anonymized ID",
              "displayName": "Anonymized ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Candidate Name",
              "displayName": "Candidate Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Technical Store",
              "displayName": "Technical Store",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Key Skills ",
              "displayName": "Key Skills ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Ai Feedback",
              "displayName": "Ai Feedback",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CV Link",
              "displayName": "CV Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "missing gaps",
              "displayName": "missing gaps",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1072,
        48
      ],
      "id": "c2a6cb4f-2697-4c10-823b-e446dd43697b",
      "name": "Append row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "AjGvuMxyD27wvE9S",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1u69YDgSunLNDJ6N6epDtftXN1FvZ3JJ38Fn5pIsUNS0",
          "mode": "list",
          "cachedResultName": "Hackaton CV",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1u69YDgSunLNDJ6N6epDtftXN1FvZ3JJ38Fn5pIsUNS0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1546818499,
          "mode": "list",
          "cachedResultName": "Form Responses 4",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1u69YDgSunLNDJ6N6epDtftXN1FvZ3JJ38Fn5pIsUNS0/edit#gid=1546818499"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        816,
        32
      ],
      "id": "0e3bf3c8-fc6d-434a-a5f3-09388c713672",
      "name": "Get row(s) in sheet2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "AjGvuMxyD27wvE9S",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1u69YDgSunLNDJ6N6epDtftXN1FvZ3JJ38Fn5pIsUNS0",
          "mode": "list",
          "cachedResultName": "Hackaton CV",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1u69YDgSunLNDJ6N6epDtftXN1FvZ3JJ38Fn5pIsUNS0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1546818499,
          "mode": "list",
          "cachedResultName": "Form Responses 4",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1u69YDgSunLNDJ6N6epDtftXN1FvZ3JJ38Fn5pIsUNS0/edit#gid=1546818499"
        },
        "event": "rowAdded",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -848,
        352
      ],
      "id": "82592b20-85cd-4f08-bd69-665ce5540af3",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "H5WRmoLMoswfdxiY",
          "name": "Google Sheets Trigger account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet2": {
      "main": [
        [
          {
            "node": "Append row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "5fe6b7d4-2cfe-4108-93f8-8fede5c726c2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5b1e15ef1283d4e79553b50845b58861314852763db37e402c8eaa6287808aae"
  },
  "id": "7DL6btKQGki2IjW2",
  "tags": []
}